/*Default*/

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 20px;
	font-weight: bold;
	overflow: hidden;		
}

nav li{
	float: left;
}

nav li a{
	display: inline-block;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover{
	background-color: #bfbfbf;
}

div.left-side-menu{
	float: left;
	padding: 15px;
	font-family: BodyFont;
	background-color: #F87217;
	width: 150px;
	overflow: hidden;
}

div.left-side-menu ul{
	list-style-type: none;
	overflow: hidden;
	padding-left: 10px;
}

ul.left-side-menu-list li a{
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 10px 0px;
}